fastapi
uvicorn
requests
beautifulsoup4
pandas
sqlalchemy>=2.0.37
python-dotenv
jinja2
gunicorn
passlib[bcrypt]>=1.7.4
redis>=4.5.0
python-jose[cryptography]>=3.3.0
cryptography<43.0.0
pyOpenSSL>=24.2.1
